/*
Header styles
This file contains the styles for the header component.
Since we cannot easily target <header> elements in the block editor, we will use a container and wrapper to style the header.
In the case we create another header part, we should duplicate the original and change the container class to something like: .serinity-header-container-alt-1.
*/

// Header container and wrapper styles
.serinity-header-container {
  position: fixed;
  width: 100%;
  top: 42px;
  z-index: 1000;

  // Media query for smaller screens
  @media (max-width: 1280px) {
    top: 0;
  }
  .serinity-header-wrapper {
    height: 84px;
    backdrop-filter: blur(20px);
    background-color: rgba(250, 248, 246, 0.5);
    max-width: 1280px;
    flex: 1;
    padding: 0.8rem 1.4rem;
    border-radius: 1.2rem;
    border: solid 1px var(--wp--preset--color--nacre-claire);
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1);

    // Media query for mid-sized screens
    @media (max-width: 1280px) {
      border-radius: unset;
      border: unset;
      border-bottom: solid 1px var(--wp--preset--color--nacre-claire);
    }

    // Home link styling
    // .serinity-header-home a {
    //   // Your home link styles here
    // }

    // Navigation menu
    .serinity-header-navigation-menu {
      gap: 1.8rem;

      // Hide on smaller screens
      @media (max-width: 990px) {
        display: none;
        pointer-events: none;
      }

      // Submenu styling
      .serinity-header-link ul {
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        background-color: rgba(250, 248, 246, 0.25);
        overflow: hidden;
        border: 1px solid var(--wp--preset--color--nacre-claire);

        // Submenu items
        li {
          width: 100%;
          text-align: center;
          align-content: center;

          // Link hover state
          a:hover {
            background-color: rgba(250, 248, 246, 0.5);
            color: var(--wp--preset--color--aubergine-sombre);
          }

          // Link label
          a {
            height: 44px;
            span {
              margin: auto;
            }
          }
        }
      }

      // Navigation links
      .serinity-header-link a {
        padding-top: 4px;
        font-weight: 550;
        letter-spacing: 0.15ch;
        font-size: var(--wp--preset--font-size--serinity-xs);
        transition: color 0.3s;

        &:hover {
          color: var(--wp--preset--color--aubergine-sombre);
        }
      }

      // CTA button
      .serinity-header-cta {
        background-color: var(--wp--preset--color--rose-claire);
        height: 44px;
        padding: 0.5rem 1rem;
        border-radius: 1.2rem;
        box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s;

        a {
          padding-top: 4px;
          font-weight: 550;
          border-radius: 1.2rem;
          height: 100%;
          width: 100%;
          letter-spacing: 0.15ch;
          font-size: var(--wp--preset--font-size--serinity-xs);
          transition: color 0.3s;
        }

        &:hover {
          background-color: var(--wp--preset--color--rose-sombre);
          color: var(--wp--preset--color--nacre-claire);
        }
      }
    }
  }
}
